{% extends "base.html" %}

{% block title %}
    {% if validation is None %}
        Error
    {% else %}
        {{validation|first|capfirst}}
    {% endif %}
{% endblock title %}

{% block content %}
    {% if validation is None %}
        <p>Не знаем такой знак зодиака :c </p>
    {% else %}
        <h1>
            <div style='text-align: center;'>{{validation|first|capfirst}}</div>
        </h1>
        <br>
        <p><b>Советы на сегодня</b></p>
        <div>{{prediction|safe}}</div>
        <p><b>Будьте осторожней</b></p>
        <div>{{warning|safe}}</div>
    {% endif %}
{% endblock %}


